.search-field
{
  padding: 20px;
  border: none;
}

/* 画面サイズがlg（大きい）以上の場合 */
@media (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo-image {
    margin-right: auto; /* ロゴを右寄せ */
  }

  .ml-auto {
    display: flex;
    align-items: center; /* 要素を垂直方向に中央寄せ */
  }

  .navbar-nav {
    margin-left: auto; /* ナビゲーションを右寄せ */
  }

  .search-field {
    margin-left: auto; /* 検索バーを右寄せ */
  }

  .btn-primary {
    margin-left: 10px; /* 検索ボタンを右寄せ */
  }
}

/* 画面サイズがmd（中程度）の場合 */
@media (max-width: 991px) {
  /* 中程度の場合のスタイルをここに追加 */
}

/* 画面サイズがsm（小さい）以下の場合 */
@media (max-width: 767px) {
  /* 小さい場合のスタイルをここに追加 */
}