.masonry-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.masonry-item {
  flex: 1;
  break-inside: avoid;
}

.post-content {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-image {
    position: relative;
    max-width: 100%;
    border-radius: 5px;
}

.post-image img {
    max-width: 100%;
    border-radius: 5px;
}

.post-author {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 3px;
}

.like-button {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    border-radius: 1px;
    font-size: 15px;
}

.masonry-item {
  flex: 0 0 100%;
}

@media (min-width: 600px) {
  .masonry-item {
    flex: 0 0 calc(50% - 16px); /* 16pxは投稿間のギャップ */
  }
}

@media (min-width: 900px) {
  .masonry-item {
    flex: 0 0 calc(33.33% - 16px);
  }
}